@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0; 
    padding: 0;
    font-family: "Open Sans", sans-serif;
  font-weight: 300 ;
  font-style: normal;
    box-sizing: border-box;
}

.box{
    width: 1300px;
    margin:0 auto;
    padding: 100px 15px;
    
}

.navigation{
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: black;
    top: 0;
    padding: 30px; 
    z-index: 20;
}

.navigationitem{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 15px ;
    font-size: 20px;
    transition: 0.3s;

}
.navigationitem:hover{
    transform: scale(1.2);
    color: orange;
   
}

.menu{
    float: right;
}

.block{
    height: 100vh;
    background: linear-gradient(orange,pink);
}

.content{
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%,-50%);
    width: max-content;
    z-index: 19;
}

.contenttext{
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 0 rgb(201, 99, 116);
    font-weight: 700;
}


.contentbutton{
    display: block;
    margin:  20px auto;
    width: 250px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    box-shadow: 10px 7px 0  rgb(201, 99, 116);
    font-weight: 700;
}

.shapes{
overflow: hidden;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.circle1{
    position: absolute;
    top: 2000px ;
    left: 200px;
    animation: rotation 7s linear infinite;
}

.circle2{
    position: absolute;
    top: 420;
    right: 1000px;
    animation: rotation 7s linear infinite;
}


.circle3{
    position: absolute;
    top: 200px;
    right: -400px;
    animation: rotation 7s linear infinite;
}

.octagon{
    position: absolute;
    top:500;
    right:300 ;
    animation: rotation-up-down 7s linear infinite;
}

.circle-dashed-border{
    position: absolute;
    top:600;
    right:300 ;
    animation: rotation 7s linear infinite;
}

.triangle{
    position: absolute;
    top:500;
    right:1300 ;
   animation: rotation-up-down 7s linear infinite;
}

.circle-bordered{
    position: absolute;
    top:200;
    right:1300 ;
    animation: move-up-left 7s linear infinite;
}

.container{
    width: 1300px;
    padding: 100px 15px;
    margin: 0 auto ;
}

.title{
    font-size: 50px;
    text-align: center;
    margin: 30px;
    font-weight: 700;
}

.text{
    line-height: 30px;
    font-size: 22px;
}

.what-we-do{
    background:linear-gradient(7deg ,rgb(201, 99, 116)  20%,rgb(236, 187, 95) 80%,white 80%) ;
}

.left{
    width: 45%;
    display: inline-block;
}

.right{
    width: 45%;
    display: inline-block;
}

.box{
    height: 450px;
    width: 27%;
    background-color: white;
    border: 4px solid rgb(236, 193, 112) ;
    display: inline-block;
    border-radius: 30px;
    margin: 20px;
    vertical-align: top;
    padding: 15px;
}

.services{
    text-align: center;
    background:linear-gradient(340deg , white 45%, rgb(201, 99, 116) 45%) ;
}

.card-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line{
    background-color: rgb(219, 130, 145);
    height: 6px;
    width: 80%;
    margin-left: 30px;
}

.why-card{
    width: 700px;
    border: 4px solid rgb(238, 186, 91);
    padding: 30px;
    margin: 30px auto;
    box-shadow: 5px 5px 0 rgb(219, 130, 145) ;
    border-radius: 10px;
}

.why-card-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}

.why-list{
    margin-left: 20px;
    list-style-type: circle;
}

.why-card1{
    position:  relative;
    left: -100px;
}

.why-card2{
    position:  relative;
    
}

.why-card3{
    position: relative;
    right: 80px ;
}

.why-circle{
    position: absolute;
    top: 0;
    left: 500px ;
    width: 100%;
    height: 100%;

}

.why-hexagon{
    position: absolute;
    top: 0;
    left: 0;
}

.why{
    position: relative;
}

.why-content{
    z-index: 3;
    position: relative;
}

.why-background{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.why-card{
    background-color: white;
}

.pics{
    width: 49%;
    margin: 1px; 
    border-radius: 20px;
    border: 5px solid rgb(230, 85, 93);
      
}

.cards{
    width: 100%;
    margin: auto;
}

.button{
    margin-left: 600px;
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 10px 40px;
    box-shadow: 10px 10px 0 rgb(212, 96, 135);
    display: block;
}

.footer{
    background:linear-gradient(rgb(201, 99, 116)  ,rgb(236, 187, 95)  ) ;
    padding-bottom: 80px;
    padding-top: 50px;
}

.title{
   
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(359deg);
    }
}

@keyframes move-up-left{
    0%{
        transform: translate(0,0);
    }

    50%{
        transform: translate(-40px,-80px);
    }

    100%{
        transform: translate(0,0);
    }
}

@keyframes rotation-up-down {
    0%{
        transform: rotate(0deg) translate(0,0);
    }

    50%{
        transform: translate(0,-200px) rotate(180deg);
    }

    100%{
        transform: rotate(359deg)  translate(0,0);
    }
}

@keyframes right{
    0%{
        transform: translate(0,0);
    }

    50%{
        transform: translate(80px,0);
    }

    100%{
        transform: translate(0,0);
    }
}

@media (max-width:410px){
    .navigation{
      height: fit-content;
      position: static;
    }
    
    .menu{
        float: none;
    }

    .navigationitem{
        display: block;
        text-align: center;
        font-size: 30px;
    }

    .logo{
        display: none;
    }

    .block{
        height: fit-content;
    }
   .content{
     position: static;
     transform: none;
     width: 100%;
     padding: 100px 0;
   }

   .contenttext{
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
   }

   .shapes{
    display: none;
   }

   .container{
    width: 100%;
    padding-bottom: 50px;
   }

   
   .title{
    font-size: 25px;
    margin: auto;
    text-align: center;
    }
    
    .what-we-do{
        height: fit-content;
    }

    .left{
        width: 100%;
    }

    .right{
        display: block;
        width: 100%;
    }

    .text{
        text-align: center;
    }

    .right-img{
        width: 100%;
    }

    .box{
        width: 100%;
        margin: 0;
    }

    .why-card{
        width: 100%;
    }

    .why-card1{
       left: 0;
    }

    .why-card3{
        right: 0;
    }

    .pics{
        width: 100%;
    }

    .footer{
        padding: 0;
    }
}